---
import type { Page } from '@src/generated/graphql'
import { getMenuItems } from '@ts/queries'

export interface Props {
  class: string,
}
const { class: className } = Astro.props as Props

// const allPageSlugs = await getAllPageSlugs();
const menuItems = await getMenuItems();
---
<div class={`p-4 border-t-emerald-100 bg-gray-50 border-t text-sm ${className}`}>

  <div class="grid grid-cols-auto-fit-32 gap-y-6 gap-x-2 md:gap-x-6 leading-loose underline text-emerald-800">
    {
      menuItems?.map((menuItem) => (
        <div class="border-l border-emerald-200 pl-2">
          <a class=" block font-bold" href={`${menuItem?.connectedNode?.node?.uri}#`}>{menuItem?.label}</a>
          {menuItem?.childItems?.nodes &&
          menuItem.childItems.nodes.map((childMenuItem) => {
            // const label: string = childMenuItem?.label
            const childPage = childMenuItem?.connectedNode?.node as Page
            return <a class="block" href={`${menuItem?.connectedNode?.node?.uri}#${childPage.slug}`}>{childMenuItem?.label}</a>
          })}
        </div>
      ))
    }
  </div>
  <div class="p-2 mt-6 text-emerald-600">
    <p>Webbsidan byggd av v채rldens b채sta hacker, Gunnar Oledal, 2022</p>
    <!-- <p class="text-xs hidden no-hover:block">Du surfar p책 en enhet utan hover-funktionalitet</p>
    <p class="text-xs hidden no-mouse:block">Du surfar p책 en enhet utan mus</p> -->
  </div>
</div>
