---
import type { Page } from '@src/generated/graphql'
import { getMenuItems } from '@ts/queries'

// const allPageSlugs = await getAllPageSlugs();
const menuItems = await getMenuItems();
---

<div class="p-4 border-t-emerald-100 bg-gray-50 border-t text-sm grid grid-flow-col auto-cols-auto gap-6 leading-loose underline text-emerald-800">
          {
    menuItems?.map((menuItem) => (
      <div class="">
        <div>
          <a class=" block font-bold" href={`${menuItem?.connectedNode?.node?.uri}#`}>{menuItem?.label}</a>
          {menuItem?.childItems?.nodes &&
          menuItem.childItems.nodes.map((childMenuItem) => {
            // const label: string = childMenuItem?.label
            const childPage = childMenuItem?.connectedNode?.node as Page
            return <a class="block" href={`${menuItem?.connectedNode?.node?.uri}#${childPage.slug}`}>{childMenuItem?.label}</a>
          })}
        </div>
      </div>
    ))
  }
</div>
